@page "/artistdetails/{ArtistName}/{Founded}/{PersonImageUrl}/{ArtistImageUrl}/{FirstName}/{LastName}"
@using DBConnection1.Data
@using DBConnection1.Models

<div class="alist-form">
    <img src="./Images/@(ArtistImageUrl).jpg" alt="Alternate Text" />
    <p>@ArtistName was founded (@Founded).</p>
    <br />
    <h6>Members:</h6>
    @*@for (int i = 0; i < artist.Count; i++)
    {
        <img src="@(PersonImageUrl).jpg" alt="Alternate Text" />
      }*@
    <img src="./Images/@(PersonImageUrl).jpg" alt="Alternate Text" />
    <p>@FirstName @LastName</p>
</div>

@code {

    [Parameter]
    public string ArtistName { get; set; }
    [Parameter]
    public string Founded { get; set; }
    [Parameter]
    public string PersonImageUrl { get; set; }
    [Parameter]
    public string ArtistImageUrl { get; set; }
    [Parameter]
    public string FirstName { get; set; }
    [Parameter]
    public string LastName { get; set; }


    [Parameter]
    public int PersonCount { get; set; } = 0;


    [Inject]
    public AppDataContext AppDataContext { get; set; }
    private List<Artist> artist;

    protected override void OnInitialized()
    {
        artist = AppDataContext.Artist.ToList();

    }

    

}
