@page "/signup"
@using DBConnection1.Models
@using DBConnection1.Data
@using DBConnection1.Controls
@inherits SignUpBase

<div class="sign-form">
    <p class="welcome-text">Create a new account</p>

    <ValidationInput placeholder="Username" ValueChangedCallback="UserNameValueChanged" Value="@NewUser"></ValidationInput>
    <ValidationInput placeholder="Password" ValueChangedCallback="PasswordValueChanged" type="password" Value="@Password"></ValidationInput>
    <ValidationInput placeholder="Confirm Password" ValueChangedCallback="ConfirmValueChanged" type="password" Value="@Confirm"></ValidationInput>

    <button class="sign-button" type="submit" @onclick="CreateNewUser">Confirm</button>

    <p style="color:whitesmoke" >@Test</p>

   
</div>
