@page "/signin"
<div class="sign-form">
    <p class="welcome-text">Hello @(string.IsNullOrEmpty(User) ? "User" : User) - Today is @Day</p>
    <input type="text" class="sign-input form-control" placeholder="Username" @onchange="UserNameChange"/>
    <input type="password" class="sign-input form-control" placeholder="Password" />

    <form action="/">
        <button class="sign-button btn-primary btn" type="submit">Sign in</button>
    </form>
    

    <div class="signup">
        <a href="/signup">Sign up</a>
    </div>
</div>

@code {
    private string Day { get; set; } = DateTime.Now.DayOfWeek.ToString();
    private string User { get; set; }

    private void UserNameChange(ChangeEventArgs eventArgs)
    {
        User = eventArgs.Value.ToString();
    }
}
