@page "/signup"
@using DBConnection1.Models
@using DBConnection1.Data

<div class="sign-form">
    <p class="welcome-text">Create a new account</p>
    <input type="text" class="sign-input form-control" placeholder="Username" @bind="NewUser" />
    <input type="password" class="sign-input form-control" placeholder="Password" @bind="Password"/>
    <input type="password" class="sign-input form-control" placeholder="Confirm Password" @bind="Confirm" />

    <button class="sign-button" type="submit" @onclick="CreateNewUser">Confirm</button>

    <p style="color:whitesmoke" >@msg</p>

   
</div>

@code {
            private string NewUser { get; set; }
            private string Password { get; set; }
            private string Confirm { get; set; }
            public string msg { get; set; }

            [Inject]
            public AppDataContext Db { get; set; }

            public void CreateNewUser()
            {
                if (Check())
                {
                    var user = new User
                    {
                        UserName = NewUser,
                        Password = this.Password
                };
                Db.User.Add(user);

                Db.SaveChanges();
                msg = "user wurde angelegt";
            }
        else
        {
            msg = "user wurde nicht angelegt";
        }
    }

    public bool Check()
    {
        if (Password == Confirm)
        {
            return true;
        }
        else
        {
            return false;
        }
    }

}
