@page "/signin"
@inherits SignInBase
@using DBConnection1.Controls
<div class="sign-form">
    <p class="welcome-text">Hello @(string.IsNullOrEmpty(User) ? "User" : User) - Today is @Day</p>
    @*<input type="text" class="sign-input form-control" placeholder="Username" @bind-value="User" @bind-value:event="oninput"/>*@


    <ValidationInput placeholder="Username" ValueChangedCallback="UserNameValueChanged" Value="@User"></ValidationInput>
    @*<input type="password" class="sign-input form-control" placeholder="Password" />*@
    <ValidationInput placeholder="Password" type="password" Value="@Password"></ValidationInput>

    <button class="sign-button" type="submit">Sign in</button>


    <div class="sign-form">
        <a href="/signup">Sign up</a>
    </div>
</div>

