@page "/songdetails/{AlbumName}/{SongId}"
@inherits SongDetailsBase

<style>
    img {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        width: 100%;
        display: block;
    }
</style>

<div class="bg-img">
    <img src="./Images/@(Cover)" alt="Alternate Text" />
</div>

<div class="mlist-form">
    <h2>@SongName</h2>
    <h5>@AlbumName</h5>
    <iframe src="https://www.youtube.com/embed/@LinkYT" allowfullscreen="allowfullscreen" allowtransparency="true" width="500" height="300" frameborder="0"></iframe>
    <iframe src="https://open.spotify.com/embed/track/@LinkSP" width="500" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <p>by <a href="/artistdetails/@ArtistId">@ArtistName</a></p>
</div>
