<Router AppAssembly="typeof(Program).Assembly">
  <Found Context="routeData">
    <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
  </Found>
  <NotFound>
    <h1 class="welcome-text">Page not found</h1>
    <p class="welcome-text">Sorry, but there's nothing here!</p>
  </NotFound>
</Router>