@inherits ValidationInputBase
<div class="validation-container">

    <input class="validation-input form-control" @attributes="InputAttributes" @onchange="HandleInoutChanged" value="@Value">

    @if (string.IsNullOrEmpty(Value))
    {
        <div class="val-tooltip">
            <p><strong>!</strong></p>
            <span class="val-tooltiptext">@Value</span>
        </div>
    }

</div>
