@inherits ValidationInputBase
<div class="validation-container">
    @if (string.IsNullOrEmpty(Value))
    {
        <div class="val-tooltip">
            <p><strong>!</strong></p>
        </div>
    }
    <input class="validation-input form-control" @attributes="InputAttributes" @onchange="HandleInoutChanged" value="@Value">
</div>
