@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    background-color: #2a2a2a; 
    z-index:-2;
    position: relative;
}

.no-scroll .k-grid-content {
    overflow-y: hidden;
}

.no-scroll .k-grid-header {
    padding-right: 0 !important;
}

.dropdown-list {
    z-index: 100;
}

.PopUpWindow {
    z-index: 50;
}

.validation-container {
    display: flex;
    flex-flow: row;
    margin-top: 32px;
}

.backbutton {
    background-color: transparent;
    color: rgb(255,165,0);
    border: none;
    width: 50px;
    height: 50px;
    font-size: 33px;
    font-weight: 900;
}

    .backbutton:focus {
        outline: none;
    }

.form-horizontal {
    position: relative;
}
    .form-horizontal .backbutton {
        position: absolute;
        top: 0px;
        right: 0px;
    }

.validation-input {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    /*flex:1 1 auto;*/
}

.upload-input {
    background-color: rgb(255,165,0);
    color: whitesmoke;
}


.upload-Button {
    font-size: small;
    width: 100px;
    height: 30px;
    color: whitesmoke;
    border-radius: 15px;
    border: none;
    background-color: rgb(255,165,0);
}

    .upload-button:hover {
        background-color: #ffb123;
        color: whitesmoke;
        font-weight: bold;
        transform: scale(1.05);
    }

    .upload-button:active {
        background-color: #ffb123;
        box-shadow: 0 5px #666;
        transform: translateY(1px);
        border: none;
        outline: none;
    }

.val-tooltip {
    position: relative;
    display: flex;
    flex: 0 0 20px;
    background-color: #f00;
}
    .val-tooltip p{
        color:white;
        margin:auto;
        font-size:large;
    }

    .val-tooltip .val-tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: orange;
        color: white;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position:absolute;
    }

.mlist-form {
    width: 100%;
    max-width: 538px;
    padding: 15px;
    margin: auto;
    position: relative;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: ghostwhite;
    font-weight: bold;
    border: 4px solid;
    border-color: lightgrey;
    /*position: absolute;*/
    top: 50px;
    bottom: 50px;
}

.alist-form {
    width: 100%;
    max-width: 838px;
    padding: 15px;
    margin: auto;
    position: relative;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: ghostwhite;
    font-weight: bold;
    border: 4px solid;
    border-color: lightgrey;
}

.bg-img {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.artist-img{
    width:800px;
    height:600px;
}

.person-img {
    width: 250px;
    height: 220px;
}

.sign-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

a:link, a:visited{
    color:orange;
}

.error-message {
    color: red;
}

.album-text {
    color: white;
}

.welcome-text{
    color:white;
    font-size: 20px;
}

.sign-button {
    width: 100%;
    height: 40px;
    margin-top: 50px;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    background-color: rgb(255,165,0);
    outline: none;
}
    .sign-button:hover {
        background-color: #ffb123;
        transform: scale(1.05);
        outline: none;
    }

    .sign-button:active {
        background-color: #ffb123;
        box-shadow: 0 5px #666;
        transform: translateY(1px);
        border:none;
        outline:none;
    }

    .sign-button:focus{
        outline: none; 
    }

.signup{
    text-align:center;
    margin-top: 50px;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: orange;
    border-color: black;
    
}


    .page {
        display: flex;
        flex-direction: column;
    }

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(27, 27, 27) 0%, rgba(255,255,255,0.1) 100%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.7rem;
        padding-right:50px;
    }

    .sidebar .logo {
        background-image: url(../Images/homelogo.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 50px;
        width: 300px;
    }


    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: orange;
                color: black;
            }

            .sidebar .nav-item a:hover {
                background-color: #ffb123;
                color: black;
                font-weight: bold;
            }

        .sidebar .nav-item button {
            color: black;
            background-color: orange;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
            border: none;
            outline: none;
        }

            .sidebar .nav-item button.active {
                color: whitesmoke;
                background-color: #ffb123;
                box-shadow: 0 5px #666;
                transform: translateY(1px);
                border: none;
                outline: none;
            }

            .sidebar .nav-item button:hover {
                background-color: #ffb123;
                color: black;
                font-weight: bold;
                transform: scale(1.05);
                border: none;
                outline: none;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
    position:absolute;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 270px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
		z-index: 1;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
