@inject NavigationManager UriHelper

<div class="top-row pl-4 navbar navbar-dark">
    <a class="logo navbar-brand" href="/"></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

@if (!string.IsNullOrEmpty(GlobalVariables.ActiveUser))
{
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="songlist">
                    <span class="oi oi-list" aria-hidden="true"></span> Song List
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="likedsongs">
                    <span class="oi oi-heart" aria-hidden="true"></span> Liked Songs
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <button class="nav-button" @onclick="unsetUser">
                    <p>@GlobalVariables.ActiveUser</p>
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Sign Out
                </button>
            </li>

        </ul>
    </div>
}
else
{
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/signin" Match="NavLinkMatch.All">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Log In
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/signup" Match="NavLinkMatch.All">
                    <span class="oi oi-person" aria-hidden="true"></span> Sign Up
                </NavLink>
            </li>
        </ul>

    </div>
}


@code {
    [Inject]
    public GlobalVariables GlobalVariables { get; set; }

    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;


    private void unsetUser()
    {
        GlobalVariables.ActiveUser = null;
        UriHelper.NavigateTo("/", true);
    }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
