// Used Controls:["grid","checkbox"]
$base-theme:Bootstrap;
$skin-name:DataGrid_Checkbox;
$swatch-name:Bootstrap;
$border-radius: 0.25rem;
$accent: #ffb123;
$secondary: #2a2a2a;
$info: #17a2b8;
$success: #28a745;
$warning: #ffc107;
$error: #dc3545;
$body-bg: #2a2a2a;
$body-color: #fbfbfb;
$component-bg: #2a2a2a;
$component-color: #ffb123;
$card-cap-bg: #ffffff;
$card-cap-color: #ffb123;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;
